# Variables de entorno para los microservicios

# Credenciales de la base de datos
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_contrasena

# Credenciales de AWS para el microservicio de productos
CLOUD_AWS_ACCESS_KEY=TU_ACCESS_KEY
CLOUD_AWS_SECRET_KEY=TU_SECRET_KEY
CLOUD_AWS_REGION=us-east-2
AWS_S3_BUCKET=tu-bucket
